<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDjdKK4BsIXwwU7BjFsMpUv-xIW1ekCNwo</string>
	<key>GCM_SENDER_ID</key>
	<string>765566821369</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.crd</string>
	<key>PROJECT_ID</key>
	<string>crudtutorial-a0e3c</string>
	<key>STORAGE_BUCKET</key>
	<string>crudtutorial-a0e3c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:765566821369:ios:8f1b8c6fcbae74ad3a1328</string>
</dict>
</plist>